# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env*
.venv/
venv/
.env
*.sqlite3

# Streamlit
.streamlit/

# Model artifacts
model/random_forest_model.pkl

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
